<div class="form-container" id="toolbar">
  <header [@fallIn]="state">
    <button (click)="queue()" class="basic-btn">Queue</button>
  </header>
  <div id="page">
    <h2>{{title}} </h2>


      <table *ngFor="let category of data ; let i = index " class="table">
        <tr>
          <h4>{{group[i]}}</h4>
        </tr>
        <tr *ngFor="let item of category ">
          <td>{{item.name}}</td>
          <td>R {{item.price}}</td>
          <td><button style="width:0" (click)="cart(item)" class="button tiny">+</button>
          <button style="width:0" (click)="cartout(item)" class="button tiny">-</button>
        </td>
        </tr>
      </table>
<fieldset class="table">
  <legend><h3>
    <strong>Cart</strong></h3></legend>
 
  <ul>
  <li *ngFor="let item of checkout ">
    <p> {{item.name}} ....... R {{item.price}}</p>
  </li> 
  </ul>
  <button  (click)="submitOrder()" class="button sucess">Submit Order</button>
</fieldset>
   
  </div>

</div>